{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Download files{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container">
    <ul class="w3-ul">
        {% for file in files %}
            <li><a href="{{ url_for('download.download_file', filename=file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}