{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="w3-container">
    <label for="title">Title</label>
    <input class="w3-input" name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea class="w3-input" name="body" id="body" required>{{ request.form['body'] }}</textarea>
    <input class="w3-button" type="submit" value="Save">
</form>
{% endblock %}