{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user.is_logged() %}
    <a class="w3-button" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="w3-container">
    {% for post in posts %}
      <article class="w3-card">
        <header class="w3-container w3-blue">
          <h2><a href="{{ url_for('blog.show', id=post['id_']) }}">{{ post['title'] }}</a></h2>
          <div>
              <span class="w3-cursive">by {{ post['author'] }} at {{ post['created'] }}</span>
              {% if g.user.id_ == post['author_id'] %}
                -- <a class="w3-button" href="{{ url_for('blog.update', id=post['id_']) }}">Edit</a>
              {% endif %}
          </div>
        </header>
        <p class="w3-container">{{ post['body'].replace('\n', '<br />')|safe }}</p>
      </article>
    {% endfor %}
  </div>
{% endblock %}