{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="w3-container">
        <article class="w3-card">
            <header class="w3-container w3-blue">
                <h2>{{ post['title'] }}</h2>
                <div>
                    <span class="w3-cursive">by {{ post['author'] }} at {{ post['created'] }}</span>
                    {% if g.user.id_ == post['author_id'] %}
                    -- <a class="w3-button" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                    {% endif %}
                </div>
            </header>
            <p class="w3-container">{{ post['body'].replace('\n', '<br />')|safe }}</p>
        </article>
    </div>
    <form class="w3-container" method="post">
        <div class="w3-row-padding">
            <input type="hidden" name="post_id" value="{{post['id_']}}">
            <div class="w3-quarter">
                <input class="w3-input w3-border" type="text" placeholder="Name" name="author">
            </div>
            <div class="w3-col" style="width:65%">
                <input class="w3-input w3-border" type="text" placeholder="Comment" name="body">
            </div>
            <div class="w3-rest">
                <input class="w3-button w3-purple" type="submit" value="Send" style="width:100%">
            </div>
        </div> 
    </form>
    <div class="w3-container">
        <ul class="w3-ul">
            {% for comment in comments %}
            <li><span class="w3-cursive">{{ comment['author'] }} @ {{ comment['created'] }}</span> -- <strong>{{ comment['body']|safe }}</strong></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}