{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Index{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container">
    <p>"{{ config.APP_NAME }}" is a honeypot for testing the security of web applications.</p>
</div>
{% endblock %}