{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Under construction{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container w3-amber">
    <p>This page is not implemented yet.</p>
</div>
{% endblock %}