{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Administration Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w3-container">
    <h2 class="w3-blue">Users</h2>
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-light-grey">
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="w3-container">
    <h2 class="w3-blue">Plugins</h2>
    <ul class="w3-ul w3-card-4 w3-border w3-hoverable">
        {% for plugin in pp %}
            <li><a href="/plugin/{{ plugin }}">{{ plugin }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="w3-container">
    <h2 class="w3-blue">Posts</h2>
    <p>TODO</p>    
</div>
<div class="w3-container">
    <h2 class="w3-blue">Comments</h2>
    <p>TODO</p>    
</div>
{% endblock %}