{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Plugins{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w3-container">
    <ul class="w3-ul w3-card-4 w3-border w3-hoverable">
        {% for plugin in pp %}
            <li><a href="/plugin/{{ plugin }}">{{ plugin }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}