{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Upload files{% endblock %}</h2>
{% endblock %}
{% block content %}
<form class="w3-container" method="post" enctype="multipart/form-data">
    <div class="w3-row">
        <div class="w3-quarter">
            <label for="target">Target</label>
        </div>
        <div class="w3-rest">
            <select class="w3-select" name="target" id="target">
                <option value="download">Download</option>
                <option value="plugin">Plugin file</option>
                <option value="plugin_template">Plugin template</option>
            </select> 
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-quarter">
            <label for="file">File</label>
        </div>
        <div class="w3-rest">
            <input type="file" class="w3-input" name="file" id="file" />
        </div>
    </div>
    <div class="w3-row">
        <input type="submit" class="w3-button" value="Send" />
    </div>
</form>
{% endblock %}
